<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="statics/plugins/easyui/uimaker/easyui.css">
    <link rel="stylesheet" type="text/css" href="statics/plugins/easyui/uimaker/icon.css">
    <script type="text/javascript" src="statics/plugins/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="statics/plugins/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="statics/plugins/easyui/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="statics/js/customer.js"></script>
</head>
<body>
<!--数据表格-->
<table id="dg"></table>

<div id="excelUpload">
    <form method="post" enctype="multipart/form-data" id="uploadForm">
        <table>
            <tr>
                <td><input type="file" name="excel" style="width: 180px;margin-top:20px;margin-left: 5px;"></td>
                <td><a href="javascript:void(0);" id="downloadTml">下载模板</a></td>
            </tr>
        </table>
    </form>
</div>

<div id="tb">

        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" id="add">添加</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" id="edit">编辑</a>
    <shiro:hasPermission name="customer:distribution">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" id="distribution">分配</a>
    </shiro:hasPermission>
    <shiro:hasPermission name="customer:sel">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" id="nodistribution">未分配</a>
    </shiro:hasPermission>
        <a class="easyui-linkbutton" iconCls="icon-edit" id="in">导入</a>
        <a class="easyui-linkbutton" iconCls="icon-edit" id="out">导出</a>
</div>

<div id="dialog">
    <form id="customerForm">
        <!--添加一个隐藏域  用于编辑-->
        <input type="hidden" name="id">
        <table align="center" style="border-spacing: 0px 10px">
            <tr>
                <td>客户名:</td>
                <td><input type="text" name="cusName" class="easyui-validatebox" data-options="required:true"></td>
            </tr>
                <td>联系电话:</td>
                <td><input type="text" name="cusTel" class="easyui-numberbox"></td>
            </tr>
            <tr>
                <td>联系地址:</td>
                <td><input type="text" name="cusAddress" class="easyui-validatebox" ></td>
            </tr>
            <tr>
                <td>拜访时间:</td>
                <td><input type="text" name="cusVisitTime" class="easyui-datebox" ></td>
            </tr>
            <tr id="cusEmployee">
                <td>所属业务员:</td>
                <td><input type="text" name="cusEmployee" class="easyui-numberbox"></td>
            </tr>
        </table>
    </form>

</div>

<div id="dialog2">
    <form id="customerForm2">
        <!--添加一个隐藏域  用于编辑-->
        <input type="hidden" name="id">
            <tr id="cusEmployee2">
                <td>所属业务员:</td>
                <td><input type="text" name="cusEmployee" class="easyui-numberbox"></td>
            </tr>
        </table>
    </form>

</div>

</body>
</html>