<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qust.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.qust.domain.Role">
        <id column="rid" property="rid" jdbcType="BIGINT"/>
        <result column="rnum" property="rnum" jdbcType="VARCHAR"/>
        <result column="rname" property="rname" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getRole" resultMap="BaseResultMap">
        select
        rid,rnum,rname
        from role
        limit #{start},#{rows}
    </select>

    <select id="getRoleNum" resultMap="BaseResultMap">
        select
        count(1)
        from role
    </select>

    <insert id="saveRole" useGeneratedKeys="true" keyProperty="rid">
        insert into role (rnum,rname) value (#{rnum},#{rname})
    </insert>

    <insert id="saveRolePermissionRes">
        insert into role_permission_rel (rid,pid) value (#{rid},#{pid})
    </insert>

    <update id="updateRole">
        update role set rnum=#{rnum},rname=#{rname} where rid=#{rid}
    </update>

    <delete id="deleteRolePermissionRes">
        delete from  role_permission_rel where rid=#{rid}
    </delete>

    <delete id="deleteRole">
        delete from  role where rid=#{rid}
    </delete>

    <select id="roleList" resultMap="BaseResultMap">
        select * from role
    </select>

    <select id="getRoleByEid" resultType="java.lang.Long">
        select rid from employee_role_rel where eid=#{id}
    </select>

</mapper>